<div class="bottomTip">
	<div class="column tipArea">
		<div class="logoTip">
			<img src="../asset/img/logo.png" class="logoIcon" />
		</div>
		<div class="row leftTipNav">
			<div class="bottomNav">
				<ul>
					<li class="hoverText">Home</li>
					<li class="bottomNavLine">|</li>
					<li class="hoverText">PRODUCTS</li>
					<li class="bottomNavLine">|</li>
					<li class="hoverText">CONTACT</li>
				</ul>
			</div>
			<div class="column mentionArea">
				<div class="addressText">ADDRESS:Cloud Computing Center Building</div>
				<div class="emailText">E-mail : sale@saf.com</div>
				<div class="mobileText">MOBILE:137-2478-6782</div>
			</div>
		</div>
	</div>
	<div class="icpArea">Copyright © 2020 inteagle All Rights Reserved</div>
</div>
