<div class="headerNav">
	<div class="row nav_title">
		<div class="left_logo_area">
			<img src="../asset/img/logo.png" class="logoIcon navLogo">
		</div>
		<div class="rightNavList">
			<ul>
				<li class="navLi checkedNav" data-index="home">HOME</li>
				<li class="navLine">|</li>
				<li class="navLi" data-index="product">PRODUCTS</li>
				<li class="navLine">|</li>
				<li class="navLi" data-index="contact">CONTACT</li>
				<li class="navLine">|</li>
				<li class="navSec"><span data-type="CH-ZN" class="languageText checkStyle">中文</span>&nbsp;/&nbsp;<span data-type="ENG"
					 class="languageText ">EN</span></li>
				<li class="navLine">|</li>
				<li class="navSec">
					<img src="../asset/img/sousuo.png" class="searchIcon" />
				</li>
			</ul>
		</div>
	</div>
</div>
