.headerNav {
	width: 100%;
	position: relative;
	background-color: #F6F6F6;
}

.headerNav_scroll {
	background-color: #EFEEEF!important;
	position: fixed;
	top: 0;
	color: #4D4D4D;
	z-index: 25;
}

.languageText {
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #fff;
}

.languageText:hover {
	cursor: pointer;
	color: #DA241D;
}


.languageTextScroll {
	color: #6B6B6B;
}



.nav_title {
	width: 80%;
	height: 90px;
	margin: 0px auto;
	padding-left: 100px;
	padding-right: 100px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #BDBCBE;
	transition: all .95s;
}


.logoIcon {
	width: 70%;
/* 	width: 98px;
	height: 87px; */
}

.logoIcon_scroll {
	width: 70%;
	/* width: 58px;
	height: 51px; */
}

.rightNavList {
	height: 26px;
	line-height: 26px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.nav_title_scroll {
	height: 80px;
	border: none;
}

.rightNavList ul {
	height: 100%;
}

.rightNavList ul li {
	float: left;
	font-family: DIN-Medium;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
}

.navLi:hover {
	cursor: pointer;
	width: 116px;
	height: 26px;
	color: #fff;
	background-color: #DA241D;
	border-radius: 15px;
	-webkit-transition: all .95s;
	-moz-transition: all .95s;
	-ms-transition: all .95s;
	-o-transition: all .95s;
	transition: all .95s;
}

.navSec {
	width: 100px;
	text-align: center;
}

.navLi {
	width: 116px;
	text-align: center;
}

.navLine {
	margin-left: 10px;
	margin-right: 10px;
}

.checkedNav {
	width: 116px;
	height: 26px;
	color: #fff;
	background-color: #DA241D;
	border-radius: 15px;
}

.checkStyle {
	color: #DA241D !important;
}
