.navArea {
	width: 100%;
	color: #fff;
}

.desText {
	width: 75%;
}

.topDesText {
	font-family: DFPZongYiW7;
	font-size: 27px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	margin-top: 250px;
	margin-left: 200px;
}

.bottomDesText {
	font-family: MicrosoftYaHei;
	font-size: 52px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	margin-top: 31px;
	margin-left: 195px;
}

.stuffDetail {
	background-color: #F7F9FA;
	justify-content: center;
	align-items: center;
}

.singleStuff {
	align-items: center;
}

.stuffTitle {
	font-family: DIN-Bold;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}

.stuffText {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
	margin-top: 16px;
}

.stuffImg {
	margin-top: 29px;
}

.stuffTool {
	width: 100%;
	margin-top: 26px;
}

.tool {
	font-family: MicrosoftYaHei;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #279cff;
}

.tool:hover {
	cursor: pointer;
	text-decoration: underline;
}

.bottomSensor {
	width: 100%;
	height: 710px;
	background-color: #F7F7F7;
	display: flex;
	align-items: center;
}

.sensorArea {
	width: 100%;
	justify-content: center;
	align-items: center;
}

.leftSensorImg {
	/* margin-left: 360px; */
}

.sensorIcon {
	width: 614px;
	height: 461px;
}

.stuffIcon {
	width: 362px;
	height: 249px;
}

.sensorTitle {
	font-family: DIN-Bold;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}

.sensorTable {
	width: 500px;
	margin-top: 20px;
}

.sensorTable table {
	width: 100%;
}

.sensorTable table tr td {
	border: 1px solid #E7E6E7;
	height: 50px;
	line-height: 50px;
	text-indent: 24px;
}

/*设置奇数行颜色*/
.sensorTable table tr:nth-child(odd) {
	background: #fff;
}

/*设置偶数行颜色*/
.sensorTable table tr:nth-child(even) {
	background: #F5F4F5;
}

.sensorName {
	font-family: DIN-Medium;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #2158a2;
}

.sensorValue {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}

.sensorDetail {
	margin-left: 70px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}

.sensorText {
	margin-top: 26px;
	font-family: MicrosoftYaHei;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;

}

.strongText {
	font-family: MicrosoftYaHei-Bold;
	font-size: 15px;
	font-weight: 550;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}

.secondStuff {
	margin-left: 80px;
}


.moreText {
	margin-left: 87px;
}

.buyText {
	margin-left: 41px;
	margin-right: 88px;
}

.rightNavList ul li {
	color: #000000;
}

.languageText {
	color: #6B6B6B;
}

.checkedNav {
	color: #fff !important;
	background-color: #DA241D;
	border-radius: 15px;
}

.topBanener {
	width: 100%;
	height: calc(100vh - 90px);
	height: -webkit-calc(100vh - 90px);
	height: -moz-calc(100vh - 90px);
	height: -webkit-calc(100vh - 90px);
	background: url(../../asset/img/banner.png) center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.grid {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 60px;
}

.grid section {
	width: 100%;
	margin-bottom: 40px;
}

.grid section:hover {
	cursor: pointer;
	box-shadow: 0px 0px 3px #888888;
	-moz-box-shadow: 0px 0px 3px #888888;
	transform: translate3d(-2px, -3px, 0);
	transition: all 0.5s;
}


.sin-stuff-box {
	display: flex;
	height: 380px;
	width: 100%;
	background-color: #FFFFFF;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.stf-box {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stuff-name {
	font-size: 45px;

}

.stuff-des {
	color: #303233;
	font-size: 20px;
	margin-top: 20px;
}

.stuff-btn {
	padding: 15px 40px;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333;
	background-color: transparent;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.stuff-btn:hover {
	color: #FFFFFF;
	background-color: #343637;
	/* background-image: linear-gradient(-180deg, #3c3e40 0%, #303233 100%); */
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.stuff-learn-more {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	color: #303233;
	cursor: pointer;
	margin-left: 30px;
}

.stuff-learn-more:hover {
	color: #616466;
	text-decoration: none;
}

.stuff-action {
	margin-top: 30px;
	align-items: center;
}

.stuff-inside {
	text-align: left;
}

.sin-desc-box {
	align-items: center;
}

.des-banner {
	width: 100%;
	position: absolute;
	bottom: 10%;
	display: flex;
	justify-content: center;
}

.des-banner ul {
	display: flex;
	width: 65%;
	justify-content: space-around;
	align-items: center;
}

.desc-pic img {
	background: transparent;

}

.desc-text {
	margin-top: 1.25rem;
	font-family: DIN-Medium;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
}

.tb-link {
	position: fixed;
	left: 1%;
	bottom: 20%;
}

.tb-link:hover {
	cursor: pointer;
}

.tool-bar {
	position: fixed;
	right: 0;
	bottom: 25%;
}

.tool-bar {
	width: 60px;
	height: 160px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #292beb;
}

.tool-bar ul {
	width: 100%;
	height: 100%;
}

.tool-bar ul li {
	width: 100%;
	height: 33%;
}

.tool-icon {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #9495F5;
}

.tool-icon:hover {
	cursor: pointer;
	transform: translate3d(0px, 2px, 0);
	transition: all 0.5s;
}

.tool-icon:hover div {
	display: block;
}

.phoneArea {
	display: none;
	width: 160px;
	height: 88%;
	position: absolute;
	right: 100%;
	top: 10%;
	background-color: #808080;
	color: #FFFFFF;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.phoneArea span {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.down-arrow-pic {
	width: 20px;
}

.qr-pic {
	width: 150px;
	padding: 10px;
	padding-top: 5px;
}

.qrcodeArea {
	display: none;
	position: absolute;
	right: 100%;
	top: 10%;
	background-color: #808080;
	color: #FFFFFF;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.sin-code-box p {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}
