.navArea {
	width: 100%;
	height: 100vh;
	color: #fff;
	/* position: fixed; */
	background: url(../../asset/img/home_1.png) center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.desText {
	width: 75%;
	/* margin: 0px auto; */
}

.topDesText {
	font-family: DFPZongYiW7;
	font-size: 27px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	margin-top: 250px;
	margin-left: 200px;
}

.bottomDesText {
	font-family: MicrosoftYaHei;
	font-size: 52px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	margin-top: 31px;
	margin-left: 195px;
}

.stuffDetail {
	height: 596px;
	justify-content: center;
	align-items: center;
}

.singleStuff {
	align-items: center;
}

.stuffTitle {
	font-family: DIN-Bold;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}

.stuffText {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
	margin-top: 16px;
}

.stuffImg {
	margin-top: 29px;
}

.stuffTool {
	width: 100%;
	margin-top: 26px;
}

.tool {
	font-family: MicrosoftYaHei;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #279cff;
}

.tool:hover {
	cursor: pointer;
	text-decoration: underline;
}

.bottomSensor {
	width: 100%;
	height: 710px;
	background-color: #F7F7F7;
	display: flex;
	align-items: center;
}

.sensorArea {
	width: 100%;
	justify-content: center;
	align-items: center;
}

.leftSensorImg {
	/* margin-left: 360px; */
}

.sensorIcon {
	width: 614px;
	height: 461px;
}

.stuffIcon {
	width: 362px;
	height: 249px;
}

.sensorTitle {
	font-family: DIN-Bold;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}

.sensorTable {
	width: 500px;
	margin-top: 20px;
}

.sensorTable table {
	width: 100%;
}

.sensorTable table tr td {
	border: 1px solid #E7E6E7;
	height: 50px;
	line-height: 50px;
	text-indent: 24px;
}

/*设置奇数行颜色*/
.sensorTable table tr:nth-child(odd) {
	background: #fff;
}

/*设置偶数行颜色*/
.sensorTable table tr:nth-child(even) {
	background: #F5F4F5;
}

.sensorName {
	font-family: DIN-Medium;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #2158a2;
}

.sensorValue {
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}

.sensorDetail {
	margin-left: 70px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}

.sensorText {
	margin-top: 26px;
	font-family: MicrosoftYaHei;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;

}

.strongText {
	font-family: MicrosoftYaHei-Bold;
	font-size: 15px;
	font-weight: 550;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #3c3c3c;
}


.firstStuff {
	/* margin-left: 538px;
	margin-top: 122px; */
}


.secondStuff {
	/* margin-left: 121px;
	margin-top: 122px; */
	margin-left: 80px;
}


.moreText {
	margin-left: 87px;
}

.buyText {
	margin-left: 41px;
	margin-right: 88px;
}
