.navArea {
	width: 100%;
	/* height: 860px; */
	height: 60vh;
	color: #fff;
	position: relative;
	background: url(../../asset/img/contact_1.png);
	background-repeat: no-repeat;
	/* background-size: 100% 100% center center; */
}


.desText {
	width: 75%;
	margin: 0px auto;
	margin-top: 8%;
}

.topDesText {
	font-size: 22px;
	font-weight: 600;
}

.bottomDesText {
	font-size: 40px;
	margin-top: 3%;
}

.stuffDetail {
	width: 50%;
	margin: 0px auto;
	padding-bottom: 3%;
	padding-top: 3%;
	justify-content: space-around;
	align-items: center;
}

.singleStuff {
	align-items: center;
}

.stuffTitle {
	font-size: 22px;
	font-weight: bold;
}

.stuffText {
	font-size: 15px;
	margin-top: 5px;
}

.stuffImg {
	margin-top: 15px;
}

.stuffTool {
	width: 70%;
	margin-top: 15px;
	justify-content: space-around;
}

.tool {
	color: #2DA5FF;
}

.tool:hover {
	cursor: pointer;
	text-decoration: underline;
}

.bottomSensor {
	position: relative;
	width: 100%;
	height: 90vh;
	background-color: #F6F4F3;
}

.sensorArea {
	width: 62%;
	margin: 0px auto;
	justify-content: space-between;
	align-items: center;
}

.sensorIcon {
	/* width: 580px; */
	width: 100%;
}

.stuffIcon {
	width: 90%;
}

.sensorTitle {
	font-size: 18px;
	font-weight: bold;
}

.sensorTable {
	width: 420px;
	margin-top: 15px;
}

.sensorTable table {
	width: 100%;
}

.sensorTable table tr td {
	border: 1px solid #E7E6E7;
	height: 40px;
	line-height: 40px;
	text-indent: 1em;
}

/*设置奇数行颜色*/
.sensorTable table tr:nth-child(odd) {
	background: #fff;
}

/*设置偶数行颜色*/
.sensorTable table tr:nth-child(even) {
	background: #F5F4F5;
}

.sensorName {
	color: #2562AB;
}

.sensorDetail {
	margin-left: 60px;
}

.sensorText {
	margin-top: 8px;
}

.strongText {
	font-weight: bold;
}


.contactTitle {
	position: absolute;
	font-family: MicrosoftYaHei;
	font-size: 52px;
	right: 24.4%;
	bottom: 30%;
}

.contactCard {
	width: 62.5%;
	margin: 0px auto;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	top: 45%;
	right: 18.7%;
	z-index: 11;
}

.top_insideCard {
	width: 70%;
	margin: 0px auto;
}

.cardTitle {
	margin-top: 10%;
	font-family: SimHei;
	font-size: 21px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
}

.titleLine {
	width: 60px;
	height: 3px;
	background-color: red;
	margin-top: 1%;
}

.singleInput {
	width: 45%;
}

.inputTitle {
	font-family: SimHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
}

.singleCardRow {
	width: 100%;
	margin-top: 10%;
	justify-content: space-between;
}

.inputValueArea {
	margin-top: 15px;
}

.inputValueArea {
	color: #979797;
	font-size: 15px;
	white-space: nowrap;
}

.inputLine {
	width: 100%;
	height: 1px;
	margin-top: 20px;
	background-color: #E4E4E4;
}

.textInput input {
	color: #979797;
	font-size: 16px;
	border: none;
	background: transparent;
}

.messageCard {
	width: 80%;
	margin: 0px auto;
	margin-top: 8%;
	align-items: center;
	justify-content: center;
}

.messageTitle {
	font-family: SimHei;
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
}

.msgRow {
	width: 100%;
	margin-top: 8%;
	justify-content: space-between;
}

.singleArea {
	width: 28%;
}

.titleText {
	font-family: SimHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
}

.textInput {
	margin-top: 20px;
}

.inputDepart {
	width: 100%;
	height: 1px;
	margin-top: 5px;
	background-color: #E4E4E4;
}

.titleOption {
	width: 100%;
	text-align: left;
	margin-top: 5%;
	font-family: SimHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #000000;
}

.leaveMsg {
	width: 100%;
	height: 180px;
	margin-top: 2%;
	border: 1px solid #DEDEDE;
	background-color: #F6F4F3;
}

.leaveMsg textarea {
	width: 98%;
	height: 90%;
	margin-top: 1%;
	margin-left: 1%;
	border: none;
	background: transparent;
	resize: none;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #7f7f7f;
}

.submitArea {
	width: 319px;
	height: 86px;
	background-color: #d5201b;
	border-radius: 43px;
	border: solid 1px #505050;
	margin-top: 75px;
	text-align: center;
	margin-bottom: 80px;
}

.submitArea button {
	border: none;
	background: transparent;
	font-family: SimHei;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	width: 100%;
	height: 100%;
	border-radius: 43px;
}

.mapArea {
	width: 100%;
	height: 60vh;
}

#gcontainer {
	width: 100%;
	height: 100%;
}
