.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.bg-container {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../../asset/img/background4706d9.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}



.chat-list-column {
	width: 25%;
	height: 100%;
	background-color: #fff;
}

.chat-content-box {
	width: 75%;
	height: 100%;
	border-left: 1px solid #dcdcdc;
	background-color: #f5f5f5;
}

.sin-chat-card {
	padding: 20px 20px;
	overflow: hidden;
	cursor: default;
	justify-content: space-between;
}

.sin-chat-card:hover {
	cursor: pointer;
}


.chat-user-pic img {
	width: 45px;
	height: 45px;
}

.chat-info-box {
	width: 60%;
}

.chat-esli-box {
	width: 60%;
	margin-left: 10px;
}

.chat-time-box {
	width: 40%;
	justify-content: space-between;
	text-align: right;
}


.chat-last-msg {
	width: 100%;
	margin-top: 10px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
}

.chat-time-text {
	white-space: nowrap;
}

.unread {
	display: none;
	background-color: #FF0000;
	color: #F0F0F0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 50%;
}

.chat-user-name {
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
	font-size: 14px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
}

.chat-top-box {
	width: 95%;
	height: 8%;
	display: flex;
	align-items: center;
	margin: 0px auto;
	border-bottom: 1px solid #dcdcdc;
	font-size: 15px;
}

.msg-tips {
	text-align: center;
	padding: 5px 0;
}

.msg-box-receive {
	margin: 8px 0px;
}

.msg-box-receive-icon img {
	width: 45px;
	height: 45px;
}

.send-tools {
	width: 95%;
	margin: 0px auto;
}

.send-tools ul {
	display: flex;
}

.send-tools ul li img {
	margin: 10px 10px 0 0;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	cursor: pointer;
}

.send-msg-box {
	width: 95%;
	height: 60%;
	margin: 0px auto;
	margin-top: 10px;
}

.send-msg-box textarea {
	width: 100%;
	height: 100%;
	border: none;
	padding: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	resize: none;
}

.send-msg-bt {
	width: 95%;
	height: 22%;
	margin: 0px auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.layui-btn {
	height: 30px;
	line-height: 30px;
}

.msg-pop-box-receive {
	max-width: 80%;
	display: flex;
	align-items: center;
	position: relative;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	padding: 10px;
	vertical-align: middle;
	text-align: left;
	font-size: 13px;
	word-wrap: break-word;
	white-space: normal;
	margin-left: 10px;
}

.msg-box-send {
	display: block;
	text-decoration: none;
	width: 98%;
	text-align: left;
	margin: 8px 0;
}

.msg-pop-box-send {
	float: right;
	max-width: 80%;
	display: flex;
	align-items: center;
	position: relative;
	background: #e3ecfc;
	border: 1px solid #c3cbd9;
	border-radius: 6px;
	padding: 10px;
	vertical-align: middle;
	text-align: left;
	font-size: 13px;
	word-wrap: break-word;
	white-space: normal;
	margin-right: 10px;
}

.chat-tab {
	width: 100%;
	height: 100%;
	display: none;
}

.active-tab {
	display: block;
}

.active-card {
	background-color: #F5F5F5;
}


@media only screen and (min-width: 1400px) {
	.chat-box {
		position: relative;
		width: 60%;
		height: 80%;
		overflow: hidden;
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
	}


	.msg-content-box {
		width: 95%;
		height: 55%;
		margin: 0px auto;
		margin-top: 1%;
		overflow-y: auto;
	}

	.msg-send-card {
		width: 100%;
		height: 35%;
		margin: 0px auto;
		margin-top: 10px;
		border-top: 1px solid #dcdcdc;
	}
}

@media only screen and (max-width: 1400px) {

	.chat-box {
		position: relative;
		width: 80%;
		height: 80%;
		overflow: hidden;
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
	}

	.msg-content-box {
		width: 95%;
		height: 40%;
		margin: 0px auto;
		margin-top: 1%;
		overflow-y: auto;
	}

	.msg-send-card {
		width: 100%;
		height: 48%;
		margin: 0px auto;
		margin-top: 10px;
		border-top: 1px solid #dcdcdc;
	}
}
